.page-container {
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
}
.Home {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.home-page-plot {
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 40%;
}

.home-page-poster {
  text-align: center;
  margin: auto;
  padding: 10px;
}
